// colors

$main-text: #31353d; // main text
$link: #435779; // anchor tags
$background: #eeeff7; // background color
$header-bg: #31353d;

$border: #e0e6ef;
$light-text: #a5aebc;
$green: #7dcf85;

$shadow-layer-bg: rgba(#435779, .6);

// fonts 

$primary-font: 'PT Sans', sans-serif;

// z-index

$header-zindex: 4;
$sidebar-zindex: 3;
$shadow-zindex: 2;
$main-zindex: 1;