// colors

$color-1: #2978A0; // Jelly Bean
$color-2: #315659; // Spectra
$color-3: #BCAB79; // Gimblet
$color-4: #253031; // Outer Space
$color-5: #FFFFFF; // White

// fonts 

$primary-font: sans-serif;
$secondary-font: 'Playfair Display', serif;

//number of projects

$items: 3;