// colors

$color-1: #83b0b9; // Neptune
$color-2: #d35657; // Chestnut Rose
$color-3: #343943; // Tuna
$color-4: #e4b162; // Equator

$color-5: #131519; // Woodsmoke
$color-6: #ffffff; // White

// fonts 

$primary-font: 'PT Sans', sans-serif;

// side navigation size

$nav-width-small: 74px;
$nav-width-normal: 94px;
$loading-bar-width: 4px;

//animation

$animation-duration: 0.5s;