@import 'bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	@include box-sizing(border-box);
}

body {
	font: {
		size: 100%;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $main-text;
	background-color: $background;

	&.overflow-hidden {
		/* prevent 2 vertical scrollbars on ie and firefox when the cart is visible */ 
		overflow: hidden;
	}
}

a {
	color: $link;
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.cd-container { /* this class is used to horizontally align the gallery of items */
	position: relative;
	width: 90%;
	max-width: $L; // breakpoints inside partials > _layout.scss
	margin: 0 auto;

	&::after { /* clearfix */
		content: '';
		display: table;
		clear: both;
	}
}

.cd-img-replace { /* replace text with a background-image */
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

/* -------------------------------- 

xheader 

-------------------------------- */

header {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background: $header-bg;
	text-align: center;
	box-shadow: 0 2px 0 rgba(#000, .1);

	z-index: $header-zindex;

	@include MQ(L) {
		height: 80px;
	}
}

#logo {
	padding-top: 5px;

	/* delete this property if you don't want your logo to scale down on mobile devices */
	@include transform(scale(.8)); 

	@include MQ(L) {
		padding-top: 20px;
		position: absolute;
		/* logo left margin on Dekstop */
		left: 2.4em; 
		top: 0;
		@include transform(scale(1));
	}
}

#cd-hamburger-menu, #cd-cart-trigger {
	position: absolute;
	top: 0;
	height: 100%;

	a {
		width: 60px;
		height: 100%;
	}
}

#cd-hamburger-menu {
	left: 0;

	a {
		background: darken($header-bg, 5%) url('../img/cd-hamburger-menu.svg') no-repeat center center;
	}

	@include MQ(L) {
		display: none;
	}
}

#cd-cart-trigger {
	right: 0;

	a {
		background: darken($header-bg, 5%) url('../img/cd-cart.svg') no-repeat center center;
	}

	@include MQ(L) {
		/* cart right margin on desktop */
		right: 0;

		a {
			position: relative;
			width: 100px;
			border-left: none;
			background-color: darken($header-bg, 5%);
		}
	}
}

#main-nav, #cd-cart {
	position: fixed;
	top: 0;
	height: 100%;
	width: 260px;

	/* header height */
	padding-top: 50px; 

	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	box-shadow: 0 0 20px rgba(#000, .2);

	z-index: $sidebar-zindex;

	@include MQ(M) {
		width: 350px;
	}

	@include MQ(L) {
		width: 30%;

		/* header height has changed */
		padding-top: 80px; 
	}
}

#main-nav {
	left: -100%;
	background: #FFF;

	@include transition(left .3s);

	&.speed-in {
		left: 0;
	}

	ul {

		a {
			display: block;
			height: 50px;
			line-height: 50px;
			padding: 0 1em;
			border-bottom: 1px solid $border;
		}

		.current {
			box-shadow: inset 3px 0 $link;
		}
	}

	@include MQ(L) { /* reset main nav style */
		position: absolute;
		height: auto;
		width: auto;
		left: auto;
		right: 8em;
		padding-top: 0;
		top: 0;
		background: transparent;
		box-shadow: none;

		/* header height */
		line-height: 80px; 

		z-index: $header-zindex;

		li {
			display: inline-block;
			margin-left: 1em;
		}

		ul a {
			display: inline-block;
			height: auto;
			line-height: 1;
			padding: 1em 1.4em;
			border-bottom: none;
			color: rgba(#FFF, .8);
			@include border-radius;

			&.current {
				box-shadow: none;
				background: $link;
				color: #FFF;
			}

			.no-touch &:hover {
				background: $link;
				color: #FFF;
			}
		}
	}

	.no-js & {
		position: fixed;
	}
}

#cd-cart {
	right: -100%;
	background: #FFF;

	@include transition(right .3s);

	&.speed-in {
		right: 0;
	}

	> * {
		padding: 0 1em;
	}

	h2 {
		@include font-size(14px);
		font-weight: bold;
		text-transform: uppercase;
		margin: 1em 0;
	}

	.cd-cart-items {
		padding: 0;

		li {
			position: relative;
			padding: 1em;
			border-top: 1px solid $border;

			&:last-child {
				border-bottom: 1px solid $border;
			}
		}
	}

	.cd-qty, .cd-price {
		color: $light-text;
	}

	.cd-price {
		margin-top: .4em;
	}

	.cd-item-remove {
		position: absolute;
		right: 1em;
		@include center(y); // see mixin inside partials > _mixins.scss
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background: url('../img/cd-remove-item.svg') no-repeat center center;

		.no-touch &:hover {
			background-color: $border;
		}
	}

	.cd-cart-total {
		padding-top: 1em;
		padding-bottom: 1em;

		span {
			float: right;
		}

		&::after { /* clearfix */
			content: '';
			display: table;
			clear: both;
		}
	}

	.checkout-btn {
		display: block;
		width: 100%;
		height: 60px;
		line-height: 60px;
		background: $green;
		color: #FFF;
		text-align: center;

		.no-touch &:hover {
			background: lighten($green, 10%);
		}
	}

	.cd-go-to-cart {
		text-align: center;
		margin: 1em 0;

		a {
			text-decoration: underline;
		}
	}

	@include MQ(L) {
		> * {
			padding: 0 2em;
		}

		.cd-cart-items li {
			padding: 1em 2em;
		}

		.cd-item-remove {
			right: 2em;
		}
	}
}

/* -------------------------------- 

xgallery 

-------------------------------- */

main {
	position: relative;
	min-height: 100%;
	background: $background;
	padding-top: 70px;

	z-index: $main-zindex;

	@include MQ(M) {
		padding-top: 90px;
	}

	@include MQ(L) {
		padding-top: 120px;
	}
}

#cd-gallery-items {
	li {
		margin-bottom: 1.5em;

		img {
			width: 100%;
			display: block;
			@include border-radius;
		}
	}

	@include MQ(M) {
		li {
			@include column(.48); // see how this mixin works inside partials > _layout.scss
			margin-bottom: 2em;
			margin-right: 4%;

			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}

	@include MQ(L) {
		li {
			@include column(.31);
			margin-bottom: 2.5em;
			margin-right: 3.5%;

			&:nth-child(2n) {
				margin-right: 3.5%;
			}

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
}

#cd-shadow-layer {
	position: fixed;
	min-height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: $shadow-layer-bg;
	cursor: pointer;

	z-index: $shadow-zindex;

	display: none;

	&.is-visible {
		display: block;
		@include animation(cd-fade-in .3s);
	}
}

/* -------------------------------- 

xkeyframes 

-------------------------------- */

@include keyframes(cd-fade-in) {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

