// colors

$color-1: #0f222b; // Firefly
$color-2: #95ac5f; // Chelsea Cucumber
$color-3: #ffffff; // White
$color-4: #df4f71; // Cranberry

// fonts 

$primary-font: 'Open Sans', sans-serif;


// animation

$animation-duration: .8s;
$animation-delay: .2s;
