// colors

$color-1: #3e253c; // purple 1
$color-2: #71495b; // purple 2
$color-3: #f4bd89; // yellow
$color-4: #c06c69; // salmon
$color-5: #bf69c0; // purple 3
$color-6: #699ec0; // blue
$color-7: #ffffff; // white

// fonts 

$primary-font: 'Merriweather', serif;
$secondary-font: 'Merriweather Sans', sans-serif;

// icons sizes

$icon-small-height: 50px;
$icon-small-width: 56px;
$icon-large-height: 325px;
$icon-large-width: 420px;