@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after {display: table;  content: ''; }
.clearfix:after { clear: both; }

body {
	font-family: 'Avenir Next', 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	color: #4F4F5F;
	background: #f0f0f0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	outline: none;
	color: #aaa;
	text-decoration: none;
}

.demo-1 { background: #D9EDF7; color: #4F5B61; }
.demo-1 a { color: #647FEA; }
.demo-1 a:hover, .demo-1 a:focus { color: #333; }

.demo-2 { background: #2a2a2a; color: #5C615C; }
.demo-2 a { color: #6A9D6A; }
.demo-2 a:hover, .demo-2 a:focus { color: #fff; }

.container {
	position: relative;
	width: 100%;
	overflow: hidden;
	text-align: center;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.info {
	padding: 0 1em 2em;
	margin: 0;
	line-height: 1.31;
}

/* Header */
.codrops-header {
	padding: 2em 1em;
	text-align: center;
}

.codrops-header h1 {
	margin: 0.5em 0 0;
	font-weight: bold;
	font-size: 2.65em;
	line-height: 1;
	letter-spacing: -1px;
}

.codrops-header h1 span {
	display: block;
	padding: 0.75em 0 1em;
	color: rgba(0,0,0,0.25);
	font-size: 0.35em;
	letter-spacing: 0px;
}

.demo-2 .codrops-header h1 span {
	color: rgba(157, 156, 156, 1);
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
}

.codrops-links::after {
	position: absolute;
	top: 0;
	left: 50%;
	width: 1px;
	height: 100%;
	background: rgba(0,0,0,0.1);
	content: '';
	-webkit-transform: rotate3d(0,0,1,22.5deg);
	transform: rotate3d(0,0,1,22.5deg);
}

.codrops-icon {
	display: inline-block;
	margin: 0.5em;
	padding: 0em 0;
	width: 1.5em;
	text-decoration: none;
}

.codrops-icon span {
	display: none;
}

.codrops-icon:before {
	margin: 0 5px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;

	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon--drop:before {
	content: "\e001";
}

.codrops-icon--prev:before {
	content: "\e004";
}

/* Demo links */
.codrops-demos {
	margin: 1em 0 0;
	font-size: 0.85em;
}

.codrops-demos a {
	display: inline-block;
	font-weight: bold;
	margin: 0 0.5em;
}

.codrops-demos a.current-demo {
	color: #595F59;
}

/* Content */
.content {
	padding: 5em 0 6em;
}

.button {
	background: #647FEA;
	padding: 1em 2em;
	margin: 0;
	color: #fff;
	font-family: 'Avenir Next', 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	border: none;
	font-size: 1.15em;
	font-weight: bold;
	display: inline-block;
	border-radius: 2px;
}

.button:focus {
	outline: none;
}

.button:hover {
	background: #637AD5;
}

/* Related demos */
.content--related {
	text-align: center;
	font-weight: bold;
}

.media-item {
	display: inline-block;
	padding: 1em;
	vertical-align: top;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.media-item__img {
	max-width: 100%;
	opacity: 0.8;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}

.media-item__title {
	margin: 0;
	padding: 0.5em;
	font-size: 1em;
}

@media screen and (max-width: 40em) {

}