// colors

$color-1: #5b927d; // Patina
$color-2: #a8ae7e; // Swamp Green
$color-3: #e7d5a4; // Zombie
$color-4: #835531; // Potters Clay
$color-5: #262423; // Dune
$color-6: #ffffff; // White

// fonts 

$primary-font: 'PT Sans', sans-serif;
$secondary-font: 'Merriweather', serif;

// Number of projects 

$items: 4;