@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	background: #fbfbfb;
	color: #616b6b;
	font-family: 'Lato', Arial, sans-serif;
}

a {
	color: #777;
	opacity: 0.7;
	text-decoration: none;
}

a:hover, a:focus {
	opacity: 1;
}

.container > header {
	margin: 0 auto;
	padding: 3em 2em 0em;
	text-align: center;
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	font-weight: 300;
	margin: 0 auto;
	padding-bottom: 0.5em;
	font-weight: 700;
}

.container > header span {
	display: block;
	font-size: 60%;
	color: #e870ae;
	font-weight: 400;
	padding: 0 0 80px 0.1em;
	background: url(../img/multiselect-tip.gif) no-repeat center bottom;
}

section {
	padding: 3em 0;
}

section.related {
	text-align: center;
	font-size: 1.6em;
	background: rgba(0,0,0,.05);
}

.related p {
	margin: 0;
	padding: 0.5em;
}

.codrops-demos a {
	border: 2px solid rgba(0,0,0,0.1);
	display: inline-block;
	margin: 0 0.3em;
	padding: 0.2em 1em;
}

.codrops-demos a.current-demo {
	border-color: rgba(0,0,0,0.15);
	opacity: 1;
}

/* To Navigation Style */
.codrops-top {
	text-transform: uppercase;
	width: 100%;
	font-size: 0.7em;
	line-height: 2.2;
	font-weight: 700;
}

.codrops-top a {
	text-decoration: none;
	padding: 0 1em;
	letter-spacing: 1px;
	display: inline-block;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}