// colors

$color-1: #173d50; // Nile Blue
$color-2: #e97d68; // Apricot
$color-3: #3aa0d1; // Shakespeare
$color-4: #FFFFFF; // White

// fonts 

$primary-font: 'Open Sans', sans-serif;


// Pricing tables

$pt-number: 3; // number of pricing tables
$pt-header-mobile-height: 80px;
$pt-margin: 0.015; // distance between tables - percentage value
$pt-features-number: 6;
$pt-feature-mobile-width: 100px;

// bouncy animation

$cd-perspective: 2000px;
$cd-animation-duration: .5s;