*, *::after, *::before { -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #384348;
	background: #02161E;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	outline: none;
	color: #233dac;
	text-decoration: none;
}

.demo-2 {
	background: #ece6e6;
}

.demo-2 a {
	color: #dc4242;
}

.demo-3 {
	background: #1a1a1a;
}

a:hover, a:focus {
	color: #384348;
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

html.js, 
.js body {
	height: 100vh;
	overflow: hidden;
}

/* Icons */
.icon {
	display: block;
	width: 1em;
	height: 1em;
	margin: 0 auto;
	fill: currentColor;
}

/* Header */
.codrops-header {
	padding: 2em 1em;
	text-align: center;
	width: 100%;
	height: 100%;
	background: #e4e4e4;
	color: #02161E;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.demo-2 .codrops-header {
	background: #ded9d9;
	color: #5b5e69;
}

.codrops-header__title {
	margin: 0.5em 0 0;
	letter-spacing: -1px;
	font-size: 1.5em;
	line-height: 1;
	font-weight: 400;
}

.info {
	font-size: 0.85em;
	font-weight: 500;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
}

.codrops-links::after {
	position: absolute;
	top: 15%;
	left: 50%;
	width: 1px;
	height: 70%;
	background: currentColor;
	opacity: 0.2;
	content: '';
	-webkit-transform: rotate3d(0,0,1,22.5deg);
	transform: rotate3d(0,0,1,22.5deg);
}

.codrops-icon {
	display: inline-block;
	margin: 0.5em;
	padding: 0.5em;
	text-decoration: none;
}

/* Demo links */
.codrops-demos {
	padding: 2em 0;
	font-size: 0.85em;
}

.codrops-demos a {
	display: inline-block;
	font-weight: bold;
	margin: 0 0.5em;
}

.codrops-demos a.current-demo {
	color: #404040;
}

/* Content */
.content {
	padding: 3em 0;
}

/* Related demos */
.content--related {
	text-align: center;
	font-weight: bold;
}

.media-item {
	display: inline-block;
	padding: 1em;
	vertical-align: top;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.media-item__img {
	max-width: 100%;
	opacity: 0.3;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}

.media-item__title {
	margin: 0;
	padding: 0.5em;
	font-size: 1em;
}

body .pater {
	display: block;
	color: #fff;
	background: #233dac;
	width: 100%;
	height: 100%;
	padding: 3em;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.demo-2 .pater {
	background: #232121;
}

.pater::before {
	content: '';
	width: 100%;
	height: calc(100% + 20px);
	background: url(../img/sponsor/ink.png) no-repeat bottom left;
	background-size: 90%;
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translate3d(-10px,20px,0);
	transition: transform 0.3s;
}

.pater:hover::before {
	transform: translate3d(0,0,0);
}

.pater__title::before {
	content: 'Sponsored by';
	position: absolute;
	top: 0;
	left: 0;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 0.365em;
	color: #ddd;
	opacity: 0.6;
}

.pater__title,
.pater__desc {
	margin: 0;
	position: relative;
}

.pater__title img {
	width: 220px;
	max-width: 100%;
	margin-top: 1.5em;
}

.pater__desc {
	font-weight: 600;
	padding: 0.3em 0 0 0.3em;
	transition: color 0.2s;
}

.pater:hover .pater__desc,
.pater:focus .pater__desc {
	color: #ddd;
}

/* Webkit bug */
.codrops-header,
.pater {
	position: absolute;
}

@media screen and (max-width: 50em) {
	.codrops-header,
	.pater {
		position: relative;
		padding: 1em;
		font-size: 0.8em;
	}
	.codrops-links {
		font-size: 1.25em;
	}
}
