// colors

$main-text: #8f9cb5; // main text
$link: #35a785; // anchor tags
$background: #ffd88f; // body background color

$color-1: #5e6e8d; // blue
$color-2: #fc7169; // red
$color-3: #bad26e; // green

// fonts 

$primary-font: 'Lato', sans-serif;