// colors

$color-1: #717171; // Dove Gray
$color-2: #2a76e8; // Royal Blue
$color-3: #ffffff; // White
$color-4: #141414; // Cod Gray

// fonts 

$primary-font: 'Helvetica Neue', Helvetica, sans-serif;
$secondary-font: Georgia, serif;