// colors

$background: #ebe9d7; // background color - 
$main-text: #333; // main text

$link: #383838;
$selected: #1a7179;

// fonts 

$primary-font: 'Ubuntu', sans-serif; // Google font

// filter size

$cd-filter-height: 40px;
$cd-filter-width: 150px;

// perspective

$cd-perspective: 800px;

// animation duration

$cd-animation-duration: .5s;