// colors

$color-1: #C8C8C8; // Silver
$color-2: #DC965A; // Di Serria
$color-3: #242325; // Baltic Sea
$color-4: #ffffff; // White
$color-5: #77BFA3; // Silver Tree
// fonts 

$primary-font: 'Open Sans', sans-serif;