@import 'bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/layout'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
	@include box-sizing(border-box);
}

html {
	font-size: 62.5%;
}

body {
	font: {
		size: 1.6rem;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $color-1;
	background: $color-3 url('../img/bg-pattern.png');
}

a {
	color: $color-2;
	text-decoration: none;
}

/* -------------------------------- 

Main Components 

-------------------------------- */

.cd-background-wrapper {
	background-color: $color-3;
	position: relative;
	overflow: hidden;

	.no-touch & {
		@include perspective(4000px);
	}

	&::before {
		/* never visible - this is used in jQuery to check the device type */
		content: 'web';
		display: none;
	}

	.touch &::before {
		/* never visible - this is used in jQuery to check the device type */
		content: 'mobile';
	}
}

.cd-floating-background {
	position: relative;

	img {
		display: block;
		width: 100%;
		@include backface-visibility(hidden);
		/* fixes a Firefox bug - images not correctly rendered*/
		background-color: rgba(#FFF, .01);
	}

	img:not(:first-child) {
		position: absolute;
		top: 0;
		left: 0;
	}

	.no-touch & {
		top: 0;
		left: 0;
		@include transform-style(preserve-3d);
		@include transform(translateZ(0));

		&.is-absolute {
			position: absolute;
		}

		img:first-child {
			@include transform(translateZ(50px));
		}

		img:nth-child(2) {
			@include transform(translateZ(290px));
		}

		img:nth-child(3) {
			@include transform(translateZ(400px));
		}
	}

	.no-touch.no-preserve-3d & {
		/* we target browsers that don't support preserve-3d and show just a standard image - no effect visible */
		position: relative;
	}
}