// colors

$color-1: #343642; // Tuna
$color-2: #982b3c; // Stiletto
$color-3: #979c9c; // Pewter
$color-4: #338899; // Astral
$color-5: #ffffff; // White

// fonts 

$primary-font: 'Source Sans Pro', sans-serif;