// colors

$color-1: #39393c; // charcoal
$color-2: #79b6e4; // blue
$color-3: #dadee1; // light blue
$color-4: #ffffff; // white

// fonts 

$primary-font: 'Helvetica Neue', sans-serif;
$secondary-font: 'Georgia', serif;