// colors

$color-1: #767070; // Dove Gray
$color-2: #ccd0c1; // Kangaroo
$color-3: #f3b96c; // Rajah
$color-4: #f46c6a; // Froly
$color-5: #ffffff; // White

// fonts 

$primary-font: 'Fira Sans', sans-serif;

// animation

$animation-duration: .6s;