// colors

$color-1: #0a0b15; // Vulcan
$color-2: #6156a8; // Scampi
$color-3: #06b4c3; // Cerulean
$color-4: #f3ba00; // Selective Yellow
$color-5: #ffffff; // White

// fonts 

$primary-font: 'Lato', sans-serif;
$secondary-font: 'Vollkorn', serif;