img.squares(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/squares.png")

.boxes
  .box
  .box
  .box
    .progress
      .bar
        .bar__fill(style="width: 33%;")
      .point.point--complete
        .bullet
        label.label Select
      .point.point--active
        .bullet
        label.label Review
      .point
        .bullet
        label.label Payment
      .point
        .bullet
        label.label Success        

button.radius-toggle Toggle Click Radius