// colors

$color-1: #9e87ce; // East Side
$color-2: #5c4b51; // Don Juan
$color-3: #e0cf75; // Chenin
$color-4: #f5b65a; // Casablanca
$color-5: #f25f5c; // Carnation
$color-6: #8abeb2; // Gulf Stream
$color-7: #ffffff; // White

// fonts 

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Lora', serif;

// animation

$animation-duration: 0.4s;