// colors

$body-bg: #485274; // dark blue
$nav-container-bg: #000000; // black 
$nav-bg: darken($body-bg, 10%);
$text-color: #ffffff; // white

$color-1: #9a57bd; // Amethyst
$color-2: #c96aa4; // Hopbush
$color-3: #d6915e; // Di Serria
$color-4: #5397c7; // Danube
$color-5: #77cd91; // De York

// fonts 

$primary-font: 'Open Sans', sans-serif;

// navigation

$nav-height-S: 80px;
$nav-height-M: 170px;
$nav-items: 5;

// animation 

$animation-duration: 0.5s;