// colors
$color-1: #43202f; // Livid Brown
$color-2: #72a987; // Bay Leaf
$color-3: #edeade; // Pearl Bush

// fonts 
$heading: 'Lora', serif;

// Parallelepiped size
$parallelepiped-width: 100vw;

// Animations
$open-animation: .6s;