// colors

$color-1: #d25555; // Chestnut Rose
$color-2: #2b3158; // Ebony Clay
$color-3: #56b456; // Fern
$color-4: #52bccf; // Shakespeare
$color-5: #df8a2f; // Zest
$color-6: #c14fce; // Medium Purple
$background: #303030; // Mine Shaft
$content: #ffffff; // White

// fonts 

$primary-font: 'Roboto', sans-serif;

// Animation

$animation-duration: .6s;