// colors

$color-1: #24221F; // Dune
$color-2: #5D7C89; // Lynch
$color-3: #ffffff; // White
$color-4: #FFB500; // Selective Yellow
$color-5: #EDEDED; // Gallery

// fonts 

$primary-font: 'Lato', sans-serif;