// colors

$color-1: #4d5158; // Abbey
$color-2: #a0f6aa; // Gossip
$color-3: #ffffff; // White

// fonts 

$primary-font: 'Jaldi', sans-serif;

// this variable modifies the size of all items

$item-padding-S: 18px;
$item-padding-M: 24px;