// colors

$color-1: #513e5d; // Mulled Wine
$color-2: #f42e4e; // Radical Red
$color-3: #f5f4f3; // Desert Storm
$color-4: #ffffff; // White
$color-5: #262626; // Dark Grey

// fonts 

$primary-font: 'PT Sans', sans-serif;

// animation duration

$expand-animation-duration: .4s;