// colors

$color-1: #242322; // Tuatara
$color-2: #a5c4bc; // Opal
$color-3: #ffffff; // White
$color-4: #402f44; // Blackcurrant
$color-5: #e4dcca; // Pearl Bush

// fonts 

$primary-font: 'PT Sans', sans-serif;
$secondary-font: 'IM Fell Double Pica', serif;