@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after {display: table;  content: ''; }
.clearfix:after { clear: both; }

body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #fff;
	background: #00a7e7 url(../img/bg.png);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	outline: none;
	color: #f0f0f0;
	text-decoration: none;
}

a:hover, a:focus {
	color: #fff;
}

.container {
	height: 100vh;
	min-height: 665px;
	overflow: hidden;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
}

.mobile-message {
	padding: 2em 1em 4em;
	position: absolute;
	width: 100%;
	text-align: center;
	font-weight: bold;
	display: none;
}

/* Header */
.codrops-header {
	padding: 1em 1em 0;
	text-align: center;
	position: relative;
	z-index: 10;
}

.codrops-header h1 {
	margin: 0.5em 0 0;
	font-size: 1.85em;
	font-weight: normal;
	line-height: 1;
}

.codrops-header h1 span {
	display: block;
	padding: 0.5em 0 1em;
	font-weight: bold;
	color: #0892C7;
	font-size: 0.5em;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	font-size: 0.85em;
}

.codrops-links::after {
	position: absolute;
	top: 0;
	left: 50%;
	width: 1px;
	height: 100%;
	background: rgba(0,0,0,0.1);
	content: '';
	-webkit-transform: rotate3d(0,0,1,22.5deg);
	transform: rotate3d(0,0,1,22.5deg);
}

.codrops-icon {
	display: inline-block;
	margin: 0.5em;
	padding: 0em 0;
	width: 1.5em;
	text-decoration: none;
}

.codrops-icon span {
	display: none;
}

.codrops-icon:before {
	margin: 0 5px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;

	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon--drop:before {
	content: "\e001";
	color: #0E90C5;
}

.codrops-icon--prev:before {
	content: "\e004";
}

/* Content */
.content {
	padding: 1em 0;
}

@media screen and (max-height: 650px){
	.mobile-message {
		display: block;
	}
}
