// colors

$color-1: #f3cb6d; // yellow
$color-2: #444d65; // blue
$color-3: #fff; // body background color
$color-4: #e36767; // red
$color-5: #92c195; // green

// fonts 

$primary-font: 'Open Sans', sans-serif;