// colors

$color-1: #4a3553; // Voodoo
$color-2: #ffb251; // Texas Rose
$color-3: #7d7160; // Sandstone
$color-4: #ff625a; // Persimmon
$color-5: #ffe8c9; // Tequila - SVG animated element
$color-6: #ffffff; // White


// fonts 

$primary-font: 'Jaldi', sans-serif;