@import 'bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
	@include box-sizing(border-box);
}

html {
	font-size: 62.5%;
}

body {
	font: {
		size: 1.6rem;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $color-1;
	background-color: darken($color-3, 5%);
}

a {
	color: $color-2;
	text-decoration: none;
}

/* -------------------------------- 

Main Components 

-------------------------------- */

header {
	position: fixed;
	z-index: 3;
	height: 50px;
	width: 100%;
	top: 0;
	left: 0;
	background-color: $color-1;
	@include font-smoothing;

	/* Force Hardware Acceleration */
	@include transform(translateZ(0));
	@include backface-visibility(hidden);

	@include transition(transform .3s);

	&.nav-is-visible {
		@include transform(translateX(-260px));
	}

	&::before {
		/* never visible - this is used in jQuery to check the current MQ */ 
		display: none;
		content: 'mobile';
	}

	@include MQ(L) {
		height: 80px;

		&.nav-is-visible {
			@include transform(translateX(0));
		}

		&::before {
			content: 'desktop';
		}
	}
}

.cd-logo {
	display: inline-block;
	height: 100%;
	margin-left: 15px;
	
	/* remove jump on iOS devices - when we fire the navigation */
	@include transform(translateZ(0));
	@include backface-visibility(hidden);

	img {
		display: block;
		max-width: 100%;
		margin-top: 14px;
	}

	@include MQ(L) {
		position: absolute;
		z-index: 2;
		margin-left: 5%;

		img {
			margin-top: 29px;
		}
	}
}

.cd-nav-trigger {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 50px;

	/* hide text */
	overflow: hidden;
	white-space: nowrap;
	color: transparent;

	span {
		/* hamburger icon created in CSS */
		position: absolute;
		height: 2px;
		width: 20px;
		top: 50%;
		margin-top: -1px;
		left: 50%;
		margin-left: -10px;
		@include transition(background-color .3s .3s);
		background-color: $color-3;

		&::before, &::after {
			/* upper and lower lines of the menu icon */
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: $color-3;
			
			/* Force Hardware Acceleration */
			@include transform(translateZ(0));
			@include backface-visibility(hidden);
			
			@include transition(transform .3s .3s);
		}

		&::before {
			@include transform(translateY(-6px));
		}

		&::after {
			@include transform(translateY(6px));
		}
	}

	.nav-is-visible & span {
		background-color: rgba($color-3, 0);
	
		&::before {
			@include transform(translateY(0) rotate(-45deg));
		}

		&::after {
			@include transform(translateY(0) rotate(45deg));
		}
	}

	@include MQ(L) {
		display: none;
	}
}

.cd-main-nav {
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	width: 260px;
	height: 100vh;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	visibility: hidden;
	background: darken($color-1, 10%);

	@include transition(visibility 0s .3s);

	a {
		display: block;
		font-size: 1.8rem;
		padding: .9em 2em .9em 1em;
		border-bottom: 1px solid $color-1;
		color: $color-3;
		@include transition(transform .3s, opacity .3s);
	}

	li ul {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		@include transition(transform .3s);
		@include transform(translateX(260px));
	}

	&.nav-is-visible {
		visibility: visible;
		@include transition(visibility 0s 0s);
	}

	&.moves-out > li > a {
		/* push the navigation items to the left - and lower down opacity - when secondary nav slides in */
		@include transform(translateX(-100%));
		opacity: 0;
	}

	&.moves-out > li > ul {
		@include transform(translateX(0));
	}

	.cd-subnav-trigger, .go-back a {
		position: relative;

		&::before, &::after {
			/* arrow icon in CSS */
			content: '';
			position: absolute;
			top: 50%;
			margin-top: -1px;
			display: inline-block;
			height: 2px;
			width: 10px;
			background: lighten($color-1, 10%);
			@include backface-visibility(hidden);
		}

		&::before {
			@include transform(rotate(45deg));
		}

		&::after {
			@include transform(rotate(-45deg));
		}
	}

	.cd-subnav-trigger::before, .cd-subnav-trigger::after {
		/* arrow goes on the right side - children navigation */
		right: 20px;
		@include transform-origin(9px 50%);
	}

	.go-back a {
		padding-left: 2em;

		&::before, &::after {
			/* arrow goes on the left side - go back button */
			left: 20px;
			@include transform-origin(1px 50%);
		}	
	}

	.placeholder {
		/* never visible or clickable- it is used to take up the same space as the .cd-subnav-trigger */
		display: none;
	}

	@include MQ(L) {
		position: static;
		visibility: visible;
		width: 100%;
		height: 80px;
		line-height: 80px;
		/* padding left = logo size + logo left position*/
		padding: 0 5% 0 calc(5% + 124px);
		background: transparent;
		text-align: right;

		li {
			display: inline-block;
			height: 100%;
			padding: 0 .4em;
		}

		li a {
			display: inline-block;
			padding: .8em;
			line-height: 1;
			font-size: 1.6rem;
			border-bottom: none;
			
			/* Prevent .cd-subnav-trigger flicker is Safari */
			@include transform(translateZ(0));
			@include backface-visibility(hidden);
			
			@include transition(opacity .2s);
		}

		li a:not(.cd-subnav-trigger):hover {
			@include backface-visibility(hidden);
			opacity: .6;
		}

		.go-back {
			display: none;
		}

		.cd-subnav-trigger {
			z-index: 1;
			border: 1px solid rgba($color-3, .2);
			border-radius: 5em;
			@include transition(border .3s);

			&:hover {
				border-color: rgba($color-3, .4);
			}
			
			&::before, &::after {
				top: 22px;
				right: 17px;
				background-color: $color-3;
				/* change transform-origin to rotate the arrow */
				@include transform-origin(50% 50%);
				@include transition(transform .3s, width .3s, right .3s);
			}

			&::before {
				right: 23px;
			}
		}

		.cd-subnav-trigger, .placeholder {
			padding-right: 2.4em;
			padding-left: 1.1em;
		}

		li ul {
			height: 80px;
			background-color: $color-2;
			/* padding left = logo size + logo left position*/
			padding: 0 5% 0 calc(5% + 124px);

			@include transform(translateY(-80px));
			@include transition(transform .3s .2s);
		}

		li ul li {
			opacity: 0;
			@include transform(translateY(-20px));
			@include transition(transform .3s 0s, opacity .3s 0s);
		}

		.placeholder {
			/* never visible or clickable- it is used to take up the same space as the .cd-subnav-trigger */
			display: block;
			visibility: hidden;
			opacity: 0;
			pointer-event: none;
		}

		&.moves-out > li > a {
			@include transform(translateX(0));
			opacity: 1;
		}

		&.moves-out > li > ul {
			@include transition(transform .3s);
			@include transform(translateY(0));
		}

		&.moves-out > li ul li {
			opacity: 1;
			@include transform(translateY(0));
			@include transition(transform .3s .2s, opacity .3s .2s);
		}

		&.moves-out .cd-subnav-trigger {
			
			&::before, &::after {
				width: 14px;
				right: 17px;
			}

			&::before {
				@include transform(rotate(225deg));
			}

			&::after {
				@include transform(rotate(135deg));
			}
		}
	}
}

.cd-main-content::before {
	/* never visible - this is used in jQuery to check the current MQ */ 
	display: none;
	content: 'mobile';

	@include MQ(L) {
		content: 'desktop';
	}
}

.cd-main-content {
	position: relative;
	z-index: 2;
	min-height: 100vh;
	padding-top: 50px;
	background-color: darken($color-3, 5%);
	@include transition(transform .3s);

	&.nav-is-visible {
		@include transform(translateX(-260px));
	}

	@include MQ(L) {
		padding-top: 80px;

		&.nav-is-visible {
			@include transform(translateX(0));
		}
	}
}

.no-js .cd-nav-trigger, .no-js .cd-subnav-trigger {
	display: none;
}

.no-js header {
	position: relative;
	height: auto;
}

.no-js .cd-logo img {
	margin-bottom: 14px;
}

.no-js .cd-main-nav {
	position: static;
	width: 100%;
	height: auto;
	visibility: visible;
	overflow: visible;

	li {
		display: inline-block;
		
		&:last-child {
			display: block;
		}
	}

	.go-back {
		display: none;
	}
	
	li ul {
		position: static;
		width: 100%;
		@include transform(translateX(0));
	}

	@include MQ(L) {
		height: 80px;

		li ul {
			position: absolute;
			top: 80px;
		}

		li ul li {
			@include transform(translateY(0));
			opacity: 1;

			&:last-child {
				display: none;
			}
		}
	}
}

.no-js .cd-main-content {
	padding-top: 0;

	@include MQ(L) {
		padding-top: 80px;
	}
}