// Change this variables also in CSS
- var dotsNum1 = 16
- var dotsNum2 = 24
- var dotsNum3 = 14
- var dotsNum4 = 12
- var dotsNum5 = 30
- var dotsNum6 = 18

.cont
		.box
			.loader
				- for (var x = 1; x <= dotsNum1; x++)
					.dot
		.box
			.loader
				- for (var x = 1; x <= dotsNum2; x++)
					.dot
		.box
			.loader
				- for (var x = 1; x <= dotsNum3; x++)
					.dot
		.box
			.loader
				- for (var x = 1; x <= dotsNum4; x++)
					.dot
		.box
			.loader
				- for (var x = 1; x <= dotsNum5; x++)
					.dot
			p Play around with map settings in CSS. Just a little adjustments could change the behaviour drastically. Fork and show what you come up with :)
		.box
			.loader
				- for (var x = 1; x <= dotsNum6; x++)
					.dot