// Variables
$black: #202020;
$white: #fff;
$grey: #909090;
$light-grey: #dadada;
$turquoise: #78D9C5;
$pink: #fc3768;

html,
body {
  height: 100%;
  font-family: 'Roboto';

}

.container {
  height: calc(100% - 60px);
  max-width: 400px;
  min-height: 600px;
  margin: 30px auto 0;
  box-shadow: 0px 0px 5px $black;
  box-sizing: border-box;
  position: relative;
}

a {
  color: $black;
  text-decoration: none;
}

.icon.right {
  float: right;
}

.icon::after {
  font-family: 'FontAwesome';
  color: $white;
  font-size: 24px;
}

.icon.burger::after {
  content: '\f0c9';
}

.icon.search::after {
  content: '\f002';
}

.icon.arrow-left::after {
  float: left;
  content: '\f053';
}

.icon.arrow-right::after {
  content: '\f054';
}

// Top View
.top-view {
  height: 50%;
  background: url(https://unsplash.it/1080/720/?random) no-repeat;
  background-size: cover;
  color: $white;
  h1 {
    font-weight: 100;
    font-size: 26px;
    text-align: center;
    margin: 10px 0;
    letter-spacing: 1.5px;
  }
}

.color-layer {
  background-color: rgba(107, 23, 102, 0.2);
  height: 100%;
  width: 100%;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
  position: relative;
}

.navbar {
  padding: 10px;
  display: block;
}

.header {
  position: relative;
  box-sizing: border-box;
}

.profile-container {
  width: 100px;
  height: 100px;
  margin: 30px auto;
  position: relative;
}

.profile {
  border-radius: 50%;
  width: 40px;
  height: auto;
  &.main {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
  }
}

.notifications {
  position: absolute;
  border-radius: 50%;
  background-color: $turquoise;
  width: 30px;
  height: 30px;
  text-align: center;
  top: 0;
  right: 0;
  font-weight: 300;
  span {
    font-size: 14px;
    display: block;
    position: relative;
    top: 50%;
    margin-top: -7px;
  }
}

.month-selection {
  text-align: center;
  position: absolute;
  width: calc(100% - 40px);
  padding: 10px 0;
  bottom: 20px;
  box-sizing: border-box;
  span.month {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 14px;
  }
}

// Bottom View
.bottom-view {
  height: 50%;
  overflow: hidden;
}

.week-container {
  //background-color: red;
  padding: 5px 20px;
}

ul.week {
  display: block;
  width: 100%;
  margin-bottom: 2px;
}

li.day {
  display: inline-block;
  width: 13%;
  height: 0;
  padding: 0 0 13%;
  font-weight: 300;
  box-sizing: border-box;
  position: relative;
  
  &.current {
    background-color: $light-grey;
    border-radius: 50%;
  }
  
  span {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 14px;
    position: absolute;
    top: 50%;
    margin-top: -7px;
  }
  
    &.day-names span {
    color: $grey;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.point::after{
    width:4px;
    height: 4px;
    background-color: $pink;
    content: '';
    position: absolute;
    bottom: 15%;
    left: 50%;
    margin-left: -2px;
    border-radius: 50%;
  }

.entry{
  padding: 20px;
  border-top: 1px solid $light-grey;
  
  img{
    display: inline-block;
    margin-right: 15px;
  }
  
}

.text{
  display: inline-block;
  
}


.title{
  font-size: 16px;
  
  .name{
    font-weight: 500;
  }
}

.time{
  color: $grey;
  font-weight: 300;
  font-size: 14px;
  display: block;
  margin-top: 10px;
}

.actionbutton{
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: $pink;
  bottom: 15px;
  right: 15px;
  box-shadow: 0 0 10px #505050;
  border-radius: 50%;
 
}
.actionbutton::after{
  content: '+';
  font-size: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 100%;
  text-align: center;
  display: block;
  color: $white;
  font-weight: 100;
}

.credits, .video{
  position: absolute;
  bottom:10px;
  color: $grey;
  font-size: 100%;
  text-decoration: underline;
}

.credits {
  left: 10px;
}

.video{
  right: 10px;
 
}