// colors

$color-1: #2c3e51; // blue
$color-2: #00bd9b; // green
$color-3: #e84a64; // pink
$color-4: #ffffff; // white
$color-5: #eff2f6; // light blue

// fonts 

$primary-font: 'Source Sans Pro', sans-serif;