@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';

#app {
	height: 100vh;
	width: 100vw;
	background: #121212;
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	
	.App {
		width: 400px;
	}
}

// Image
.Image {
	width: 400px;
	height: 220px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-size: cover;
	background-position: center;
	position: relative;
	
	.content {
		padding: 20px;
		position: absolute;
		bottom: 0;
		color: white;
		
		h1 {
			font-size: 20px;
			font-weight: 200;
			margin-bottom: 5px;
		}
		
		h2 {
			font-style: italic;
			font-size: 13px;
		}
	}
}

// Buttons
.Buttons {
	display: flex;

	.Button {
		padding: 10px;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		text-decoration: none;
		color: white;
		flex: 1 0 auto;
		width: 200px;
		
		.fa {
			font-size: 22px;
		}
		
		.text {
			margin-left: 10px;
			text-transform: uppercase;
			letter-spacing: .16em;
			font-size: 12px;
			font-weight: 600;
		}
		
		&::after {
			content: attr(data-shares);
			display: flex;
			align-items: center;
			justify-content: center;
			height: 30px;
			width: 30px;
			border-radius: 20px;
			margin-left: auto;
			font-size: 12px;
			font-weight: 600;
			background: rgba(black, .125);
		}
		
		&[data-type=facebook] {
			background: #3b5998;
			border-bottom-left-radius: 5px;
			
			&:hover {
				background: lighten(#3b5998, 10);
			}
		}
		
		&[data-type=twitter] {
			background: #00aced;
			border-bottom-right-radius: 5px;
			
			&:hover {
				background: lighten(#00aced, 10);
			}
		}
	}
}