// colors

$color-1: #222d33; // Ebony Clay
$color-2: #ff962c; // Sunshade
$color-3: #15374d; // Elephant
$color-4: #fefffb; // Ceramic
$color-5: #839696; // Granny Smith

// fonts 

$primary-font: Helvetica, sans-serif;
$secondary-font: Georgia, serif;