*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: #fff;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
}

.js body {
	overflow: hidden;
}

a {
	outline: none;
	color: #fff;
	text-decoration: none;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

a:hover,
a:focus {
	color: #fffe8d;
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.icon--hidden {
	display: none;
}

.landing-layout--open .button--trigger .icon--hidden {
	display: block;
}

.landing-layout--open .button--trigger .icon--shown {
	display: none;
}

.icon--arrow-up {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.button {
	margin: 0;
	padding: 0;
	color: #fff;
	border: none;
	background: none;
	width: 4em;
	height: 4em;
}

.button:hover {
	color: #fffe8d;
}

.button:focus {
	outline: none;
}

.button--trigger {
	position: absolute;
	right: 0em;
	bottom: 0em;
}

.no-js .button--trigger {
	display: none;
}

.button--sound {
	position: absolute;
	right: 0em;
	top: 0em;
}

.button--sound-off .icon--shown {
	display: none;
}

.button--sound-off .icon--hidden {
	display: block;
}

.landing-layout {
	height: 100vh;
	overflow: hidden;
}

.landing-wrap {
	position: relative;
	z-index: -1;
}

.landing {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}

.landing--above {
	z-index: 2;
	background-position: 50% 100%;
}

.landing--beneath {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	background-position: 50% 0%;
}

.landing-header {
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	padding: 1em;
	text-align: center;
}

.landing-header__title {
	font-family: 'Kaushan Script', serif;
	font-size: 8em;
	font-weight: 400;
	line-height: 1;
	margin: 0.15em 0 0;
	letter-spacing: -0.05em;
	pointer-events: none;
	width: 100%;
}

.landing-header__tagline {
	font-size: 1em;
	padding: 0 1em;
	font-weight: 700;
	line-height: 2;
	max-width: 500px;
	margin: 1em auto 0;
	color: #58616a;
	background: #fffe8d;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.landing-header__title span {
	position: relative;
	display: inline-block;
}

.featured-content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 100vh;
	left: 0;
}

.js .featured-content {
	top: 0;
	pointer-events: none;
}

.featured-list {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	max-width: 50vw;
	min-width: 550px;
	height: 60vh;
	margin: 30vh auto 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.featured-list__item {
	width: 33.33%;
	padding: 10% 0 0;
}

.featured-list__link {
	display: block;
	position: relative;
	text-align: center;
}

.featured-list__img {
	width: 37.5%;
	max-width: 80px;
	min-width: 60px;
	display: block;
	margin: 0 auto;
}

.featured-list__title {
	font-weight: 500;
	display: inline-block;
	padding: 0 0.5em;
	line-height: 1.5;
	color: #344160;
	background: #fffe8d;
	-webkit-transition: color 0.3s, background 0.3s;
	transition: color 0.3s, background 0.3s;
}

.featured-list__link:hover .featured-list__title,
.featured-list__link:focus .featured-list__title {
	color: #fffe8d;
	background: #344160;
}

/* Codrops header */

.codrops-header {
	padding: 0.185em 0.5em;
	width: calc(100% - 4em);
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	position: absolute;
	top: 0;
	left: 0;
}

.codrops-header__title {
	font-size: 1em;
	font-weight: 500;
	margin: 0;
	padding: 0 0.75em;
}


/* Top Navigation Style */

.codrops-links {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
	margin: 0.5em 0;
}

.codrops-links::after {
	position: absolute;
	top: 10%;
	left: 50%;
	width: 1px;
	height: 80%;
	background: currentColor;
	opacity: 0.2;
	content: '';
	-webkit-transform: rotate3d(0, 0, 1, 22.5deg);
	transform: rotate3d(0, 0, 1, 22.5deg);
}

.codrops-icon {
	display: inline-block;
	margin: 0.25em;
	padding: 0.25em;
}

/* Demo links */

.codrops-demos {
	margin: 0 0 0 auto;
}

.codrops-demos a {
	font-weight: 700;
	font-size: 0.65em;
	line-height: 1;
	display: inline-block;
	margin: 0 2em 0 0;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.codrops-demos a.current-demo {
	opacity: 0.5;
}


/**********************************/
/* All transitions and animations */
/**********************************/

.landing--above {
	-webkit-transform-origin: 50% 80%;
	transform-origin: 50% 80%;
	-webkit-transition: -webkit-transform 1s 0.6s, opacity 1s 0.6s;
	transition: transform 1s 0.6s, opacity 1s 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
	transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.landing-layout--open .landing--above {
	opacity: 0;
	-webkit-transform: scale3d(2.5, 2.5, 1);
	transform: scale3d(2.5, 2.5, 1);
	-webkit-transition: -webkit-transform 0.8s, opacity 0.8s;
	transition: transform 0.8s, opacity 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.landing--beneath {
	-webkit-transform-origin: 50% 10%;
	transform-origin: 50% 10%;
	opacity: 0;
	-webkit-transform: scale3d(4, 4, 1);
	transform: scale3d(4, 4, 1);
	-webkit-transition: -webkit-transform 0.8s, opacity 0.8s 0.1s;
	transition: transform 0.8s, opacity 0.8s 0.1s;
	-webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.landing-layout--open .landing--beneath {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition: -webkit-transform 1s 0.6s, opacity 1s 0.6s;
	transition: transform 1s 0.6s, opacity 1s 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
	transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.landing-header__title {
	-webkit-transition: -webkit-transform 1s;
	transition: transform 1s;
}

.landing-layout--open .landing-header__title {
	-webkit-transition: -webkit-transform 2s 0.8s;
	transition: transform 2s 0.8s;
	-webkit-transform: translate3d(0, -30vh, 0);
	transform: translate3d(0, -30vh, 0);
}

.landing-header__tagline {
	-webkit-transition: opacity 0.5s 1s;
	transition: opacity 0.5s 1s;
}

.landing-layout--open .landing-header__tagline {
	opacity: 0;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.landing-header__title span {
	color: #344160;
	-webkit-transition-timing-function: cubic-bezier(1, 0.005, 0.33, 1);
	transition-timing-function: cubic-bezier(1, 0.005, 0.33, 1);
	-webkit-animation-name: floatAround-1;
	-webkit-animation-duration: 8s;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-play-state: paused;
	animation-name: floatAround-1;
	animation-duration: 8s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	animation-play-state: paused;
}

.landing-header__title span:nth-child(even) {
	-webkit-animation-name: floatAround-2;
	-webkit-animation-duration: 10s;
	animation-name: floatAround-2;
	animation-duration: 10s;
}

.landing-layout--open .landing-header__title span,
.landing-layout--open .landing-header__title span:nth-child(even) {
	-webkit-animation-play-state: running;
	animation-play-state: running;
}

@-webkit-keyframes floatAround-1 {
	0%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	50% {
		-webkit-transform: translate3d(0, 0.1em, 0) rotate3d(0, 0, 1, -1deg);
		transform: translate3d(0, 0.1em, 0) rotate3d(0, 0, 1, -1deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
}

@keyframes floatAround-1 {
	0%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	50% {
		-webkit-transform: translate3d(0, 0.1em, 0);
		transform: translate3d(0, 0.1em, 0);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
}

@-webkit-keyframes floatAround-2 {
	0%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	50% {
		-webkit-transform: translate3d(0, 0.05em, 0) rotate3d(0, 0, 1, 1deg);
		transform: translate3d(0, 0.05em, 0) rotate3d(0, 0, 1, 1deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
}

@keyframes floatAround-2 {
	0%, 100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	50% {
		-webkit-transform: translate3d(0, 0.05em, 0) rotate3d(0, 0, 1, 1deg);
		transform: translate3d(0, 0.05em, 0) rotate3d(0, 0, 1, 1deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
}

.js .featured-list__item {
	opacity: 0;
	-webkit-transform: translate3d(0, 10px, 0) scale3d(0.8, 0.8, 1);
	transform: translate3d(0, 10px, 0) scale3d(0.8, 0.8, 1);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.landing-layout--open .featured-list__item {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition: opacity 1.5s, -webkit-transform 0.8s;
	transition: opacity 1.5s, transform 0.8s;
	-webkit-transition-delay: 1.3s;
	transition-delay: 1.3s;
}

.landing-layout--open .featured-list__item:nth-child(2) {
	-webkit-transition-delay: 1.35s;
	transition-delay: 1.35s;
}

.landing-layout--open .featured-list__item:nth-child(3) {
	-webkit-transition-delay: 1.4s;
	transition-delay: 1.4s;
}

.landing-layout--open .featured-list__item:nth-child(4) {
	-webkit-transition-delay: 1.45s;
	transition-delay: 1.45s;
}

.landing-layout--open .featured-list__item:nth-child(5) {
	-webkit-transition-delay: 1.5s;
	transition-delay: 1.5s;
}

.landing-layout--open .featured-list__item:nth-child(6) {
	-webkit-transition-delay: 1.55s;
	transition-delay: 1.55s;
}

.codrops-header {
	-webkit-transition: opacity 0.5s 1.5s;
	transition: opacity 0.5s 1.5s;
}

.landing-layout--open .codrops-header {
	pointer-events: none;
	opacity: 0;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.loader {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: #bfcbd6;
	top: 0;
	left: 0;
	pointer-events: none;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	visibility: hidden;
}

.loader::after {
	position: absolute;
	content: 'Turn your \0009 \266A \0009 on';
	color: #7c91a5;
	top: 60%;
	width: 100%;
	left: 0;
	text-align: center;
	font-size: 1.5em;
}

.js .loader {
	visibility: visible;
}

.landing-layout--loaded .loader {
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.loader__circle {
	fill: #fff;
	opacity: 0.1;
	-webkit-animation: moveUpDown 0.5s ease alternate infinite forwards;
	animation: moveUpDown 0.5s ease alternate infinite forwards;
}

.loader__circle:nth-child(2) {
	opacity: 0.8;
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.loader__circle:nth-child(3) {
	opacity: 0.3;
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

@-webkit-keyframes moveUpDown {
	to {
		-webkit-transform: translate3d(0, -50px, 0);
		transform: translate3d(0, -50px, 0);
		opacity: 0.5;
	}
}

@keyframes moveUpDown {
	to {
		-webkit-transform: translate3d(0, -50px, 0);
		transform: translate3d(0, -50px, 0);
		opacity: 0.5;
	}
}

/* Media queries */

@media screen and (max-width: 43.75em) {
	.codrops-demos {
		margin: 0 0 0 0.5em;
		width: 100%;
	}
	.codrops-demos::after {
		content: 'Tap anywhere to turn on sound';
		display: inline-block;
		margin: 1em 0 0 0;
		font-weight: bold;
		color: #fffe8d;
	}
	.landing-header__title {
		font-size: 2.5em;
	}
	.landing-layout--open .landing-header__title {
		-webkit-transform: translate3d(0, -40vh, 0);
		transform: translate3d(0, -40vh, 0);
	}
	.landing-header__tagline {
		font-size: 0.55em;
	}
	.featured-list {
		width: 100%;
		min-width: 0;
		max-width: none;
		margin-top: 15vh;
	}
	.featured-list__item {
		width: 50%;
	}
	.featured-list__img {
		width: 40px;
		max-width: none;
		min-width: 0;
	}
	.featured-list__title {
		font-size: 0.85em;
	}
	.button {
		font-size: 0.85em;
	}
	.codrops-header {
		font-size: 0.75em;
	}
	.codrops-header__title {
		padding: 0;
	}
	.loader::after {
		font-size: 1em;
	}
}
