// Scrub

$scrub-color-1: #ffbc59; // Background Main
$scrub-color-2: #b24160; // Button
$scrub-color-3: #633b63; // Background Modal
$scrub-color-4: #2c1a32; // Text Main
$scrub-color-5: #ffffff; // Text Modal

$scrub-primary-font: 'PT Sans', sans-serif;
$scrub-secondary-font: 'Sigmar One', serif;

// Fire Extinguisher

$extinguisher-color-1: #e93741; // Background Main
$extinguisher-color-2: #1c3458; // Button
$extinguisher-color-3: #f1faee; // Background Modal
$extinguisher-color-4: $extinguisher-color-3; // Text Main
$extinguisher-color-5: #437a9f; // Text Modal

$extinguisher-primary-font: 'Merriweather Sans', sans-serif;
$extinguisher-secondary-font: 'Merriweather', serif;

// Glitch

$glitch-color-1: #2e2f36; // Background Main
$glitch-color-2: #676970; // Button
$glitch-color-3: #ffffff; // Background Modal
$glitch-color-4: $glitch-color-3; // Text Main
$glitch-color-5: $glitch-color-2; // Text Modal

$glitch-font: 'Work Sans', sans-serif;

// Scribble

$scribble-color-1: #653d55; // Background Main
$scribble-color-2: #fcb586; // Button
$scribble-color-3: #e44b60; // Background Modal
$scribble-color-4: #fcf4e1; // Text Main
$scribble-color-5: $scribble-color-4; // Text Modal

$scribble-primary-font: 'PT Sans', sans-serif;
$scribble-secondary-font: 'Rock Salt', cursive;

// Gummy 

$gummy-color-1: #001d5b; // Background Main
$gummy-color-2: #3f5074; // Button
$gummy-color-3: #ef8692; // Background Modal
$gummy-color-4: #f2f2f2; // Text Main
$gummy-color-5: $gummy-color-4; // Text Modal

$gummy-font: 'Nunito', sans-serif;

// Gooey

$gooey-color-1: #053644; // Background Main
$gooey-color-2: #cdf199; // Button
$gooey-color-3: #466c5e; // Background Modal
$gooey-color-4: #ffffff; // Text Main
$gooey-color-5: $gooey-color-4; // Text Modal

$gooey-primary-font: 'PT Sans', sans-serif;
$gooey-secondary-font: 'Averia Sans Libre', cursive;

// Mirror

$mirror-color-1: #000000; // Background Main
$mirror-color-2: #7e8aa3; // Button
$mirror-color-3: #ff9900; // Background Modal
$mirror-color-4: #ffffff; // Text Main
$mirror-color-5: $mirror-color-4; // Text Modal

$mirror-font: 'Open Sans', sans-serif;

// Diamond

$diamond-color-1: #f2efde; // Background Main
$diamond-color-2: #211426; // Button
$diamond-color-3: #41355a; // Background Modal
$diamond-color-4: #656e8d; // Text Main
$diamond-color-5: #ffffff; // Text Modal

$diamond-font: 'Lato', sans-serif;

// Cartoon

$cartoon-color-1: #256276; // Background Main
$cartoon-color-2: #f0ce00; // Button
$cartoon-color-3: #f55850; // Background Modal
$cartoon-color-4: #eeeeee; // Text Main
$cartoon-color-5: $cartoon-color-4; // Text Modal

$cartoon-primary-font: 'PT Sans', sans-serif;
$cartoon-secondary-font: 'Boogaloo', serif;

// Clones

$clones-color-1: #948ec6; // Background Main
$clones-color-2: #46165f; // Button
$clones-color-3: #ffa700; // Background Modal
$clones-color-4: #ffffff; // Text Main
$clones-color-5: $clones-color-4; // Text Modal

$clones-font: 'Raleway', sans-serif;

// Kaleidoscope

$kaleidoscope-color-1: #13172a; // Background Main
$kaleidoscope-color-2: #32ae9f; // Button
$kaleidoscope-color-3: #3b3d89; // Background Modal
$kaleidoscope-color-4: #ffffff; // Text Main
$kaleidoscope-color-5: $kaleidoscope-color-4; // Text Modal

$kaleidoscope-font: 'Playfair Display', serif;