// colors

$color-1: #0f594d; // Eden
$color-2: #93a748; // Sushi
$color-3: #f2e6cd; // Janna
$color-4: #db9537; // Brandy Punch
$color-5: #bf5138; // Mojo

// fonts 

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Merriweather', serif;