// colors

$color-1: #ffffff; // White
$color-2: #9e1c51; // Disco
$color-3: #101524; // Ebony

// fonts 

$primary-font: 'PT Sans', sans-serif;
$secondary-font: 'Merriweather', serif;

// Number of projects 

$items: 4;