@charset "utf-8";
/*sprite*/
.cp-h5-main .loading-box .i-loading,
.cp-h5-main .loading-animate,
.cp-h5-main .loading-animate .eye,
.cp-h5-main .loading-animate .tail,
.cp-h5-main .loading-animate .l-hand,
.cp-h5-main .loading-animate .r-hand,
.cp-h5-main .loading-animate .text,
.cp-h5-main .loading-animate .bubble,
.cp-h5-main .loading-animate .skeletons{
  background-image: url(../images/loading-v6.5@2x.png);background-size: 180px auto;background-repeat: no-repeat;

}

/* 全页面加载中 */
.cp-h5-main .loading-box {padding-top: 75px;text-align: center;}
.cp-h5-main .loading-box p.ellips_line2{font-size: 15px;color: #666;width: 190px;margin: 0 auto;}
.cp-h5-main .loading-box .i-loading {width: 13px;height: 14px;margin-right: 5px;display: inline-block;vertical-align: middle;background-position: -167px -91px;
  -webkit-animation:loading 1s linear 0s infinite;
  animation:loading 1s linear 0s infinite;}
.cp-h5-main .loading-animate {position: relative;top:0;margin: 0 auto 40px;width: 66px;height: 83px;background-position: 0 0;
  -webkit-animation:bodyMove_n 1.7s linear 0s infinite;
  animation:bodyMove_n 1.7s linear 0s infinite;
}
.cp-h5-main .loading-animate .skeletons{position:absolute;z-index:10;top:0;width: 66px;height: 83px;background-position: 0 0;}
.cp-h5-main .loading-animate .eye {position: absolute;z-index:11;width: 35px;height: 13px;left: 23px;top: 14px;background-position: -85px -95px;
-webkit-animation:blink1 0s linear 0s infinite;
  animation:blink1 0s linear 0s infinite;
}
.cp-h5-main .loading-animate .tail {position: absolute;width: 25px;height:22px;left: 23px;top: 72px;background-position: 0px -93px;
  -webkit-transform-origin:15px 5px;
  transform-origin: 15px 5px;
  -webkit-animation:tailMove_n 0.7s linear 0s infinite;
  animation:tailMove_n 0.7s linear 0s infinite;}
.cp-h5-main .loading-animate .l-hand {position: absolute;z-index: 11;width: 11px;height: 20px;left:9px;top: 44px;background-position: -33px -95px;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-animation:lHandMove_n 1.2s linear 0s infinite;
  animation:lHandMove_n 1.2s linear 0s infinite;}
.cp-h5-main .loading-animate .r-hand {position: absolute;z-index:1;width: 15px;height: 16px;left: 55px;top:37px;background-position: -59px -95px;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-animation:rHandMove_n 1.2s linear 0s infinite;
  animation:rHandMove_n 1.2s linear 0s infinite;}
.cp-h5-main .loading-animate .text {position: absolute;width: 29px;height: 22px;left: 60px;top: -16px;background-position: -126px -89px;}
.cp-h5-main .loading-animate .bubble {position: absolute;width:95px;height:80px;left:-7px;top:-24px;background-position: -73px 0;
  -webkit-animation:bubbleMove_n 1.4s linear 0s infinite;
  animation:bubbleMove_n 1.4s linear 0s infinite;
}

/* 局部页面加载中 */
.cp-h5-main .small-loading .loading-box {padding-top: 30px;}
.cp-h5-main .small-loading .loading-animate {margin-bottom: 20px;}

@-webkit-keyframes bodyMove_n{
  50%{
    -webkit-transform: scale3d(1.06, 1.06, 1.06);
    transform: scale3d(1.06, 1.06, 1.06);
  }
}
@keyframes bodyMove_n{
  50%{
    -webkit-transform: scale3d(1.06, 1.06, 1.06);
    transform: scale3d(1.06, 1.06, 1.06);
  }
}
@-webkit-keyframes bubbleMove_n{
  0%{
    -webkit-transform:translate3d(0, -30px, 0);
    transform:translate3d(0, -30px, 0);
    opacity:0;
  }
  25%{
    -webkit-transform:translate3d(0, -20px, 0);
    transform:translate3d(0, -20px, 0);
    opacity:1.0;
  }
  50%{
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
    opacity:1.0;
  }
  75%{
    -webkit-transform:translate3d(0, 20px, 0);
    transform:translate3d(0, 20px, 0);
    opacity:1.0;
  }
  100%{
    -webkit-transform:translate3d(0, 40px, 0);
    transform:translate3d(0, 40px, 0);
    opacity:0;
  }
}
@keyframes bubbleMove_n{
  0%{
    -webkit-transform:translate3d(0, -30px, 0);
    transform:translate3d(0, -30px, 0);
    opacity:0;
  }
  25%{
    -webkit-transform:translate3d(0, -20px, 0);
    transform:translate3d(0, -20px, 0);
    opacity:1.0;
  }
  50%{
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
    opacity:1.0;
  }
  75%{
    -webkit-transform:translate3d(0, 20px, 0);
    transform:translate3d(0, 20px, 0);
    opacity:1.0;
  }
  100%{
    -webkit-transform:translate3d(0, 40px, 0);
    transform:translate3d(0, 40px, 0);
    opacity:0;
  }
}
@-webkit-keyframes tailMove_n{
  0%,50%,100%{
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25%{
    -webkit-transform: rotate3d(0, 0, 1, -30deg);
    transform: rotate3d(0, 0, 1, -30deg);
  }
  75%{
    -webkit-transform: rotate3d(0, 0, 1, 20deg);
    transform: rotate3d(0, 0, 1, 20deg);
  }
}
@keyframes tailMove_n{
  0%,50%,100%{
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25%{
    -webkit-transform: rotate3d(0, 0, 1, -30deg);
    transform: rotate3d(0, 0, 1, -30deg);
  }
  75%{
    -webkit-transform: rotate3d(0, 0, 1, 20deg);
    transform: rotate3d(0, 0, 1, 20deg);
  }
}
@-webkit-keyframes rHandMove_n{
  0%,50%,100%{
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25%,75%{
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
  }
}
@keyframes rHandMove_n{
  0%,50%,100%{
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25%,75%{
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
  }
}
@-webkit-keyframes lHandMove_n{
  0%,50%,100%{
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25%,75%{
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
  }
}
@keyframes lHandMove_n{
  0%,50%,100%{
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25%,75%{
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
  }
}
@-webkit-keyframes loading{
  100%{
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
@keyframes loading{
  100%{
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}


